# Generate with: npx auth secret
AUTH_SECRET=

# https://developer.spotify.com/dashboard
# Redirect URI: http://127.0.0.1:3000/api/auth/callback/spotify (and your Vercel URL equivalent)
AUTH_SPOTIFY_ID=
AUTH_SPOTIFY_SECRET=

# https://www.last.fm/api/account/create
LASTFM_API_KEY=
